body {
    font-family: monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Hide overflowing content */
    position: relative; 
    background-image: url('/img/clouds.avif'); 
    background-size: auto 100%;
    animation: clouds 20s linear infinite;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background color */
    border: 2px solid #543335;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: #543335; 
    z-index: 1;
}

@keyframes clouds {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

img {
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #543335;
}

a {
    color: #543335; 
    text-decoration: none;
}

h1 {
    font-size: xxx-large;
}
