/* styles.css */
body {
    font-family: monospace;
    background-color: #f0d7d7; /* Blush pink background color */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
}

.container {
    text-align: center;
    padding: 20px;
    background-color: white; /* White background color */
    border: 2px solid white; /* Solid white border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow for a subtle effect */
    color: #c5818e /* White text color */
}

img {
    max-width: 200px;
    border-radius: 50%; /* Rounded corners for the image */
}
